@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");
body {
  background-color: white;
}
body * {
  margin: 0;
}
body a {
  color: gray;
  text-decoration: none;
}
body a:hover {
  color: darkslategrey;
}
body .div-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@font-face {
  font-family: "fuente";
  src: url("fuentes/Sorreda.ttf") format("truetype");
}
@font-face {
  font-family: "Encode";
  src: url("fuentes/Encode-Light") format("truetype");
}
.fondo {
  background-color: #e6f7f3;
}
.fondo .tamaño-logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.fondo .tamaño-logo .sin-mg {
  margin: 0px 0px 0px 5px;
}
.fondo .tamaño-logo .nombre-logo {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  letter-spacing: 2px;
}
.fondo .tamaño-logo .img-logo {
  width: 40px;
}
.fondo .tamaño-icono-menu {
  width: 20px;
}
.fondo .menu-desplegable {
  background-color: #e6f7f3;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 52px;
  right: 0px;
  width: 30%;
}
.fondo .menu-desplegable .menu-estilo, .fondo .menu-desplegable .sub-menu {
  color: #3DC4A3;
  list-style: none;
}
.fondo .menu-desplegable .menu-estilo .sin-text-deco, .fondo .menu-desplegable .sub-menu .sin-text-deco {
  text-decoration: none;
  color: #3DC4A3;
}
.fondo .menu-desplegable .menu-estilo .sin-text-deco:hover, .fondo .menu-desplegable .sub-menu .sin-text-deco:hover {
  color: black;
}
@media only screen and (max-width: 514px) {
  .fondo .menu-desplegable {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .navbar {
    flex-wrap: nowrap;
  }
}

/* cosas del footer */
footer nav {
  height: 40px;
}
footer nav .posicion-footer {
  display: flex;
}
footer nav .posicion-footer .footer-estilo {
  text-decoration: none;
  list-style: none;
  color: black;
}
footer nav .posicion-footer .footer-estilo .logo-footer {
  width: 5%;
}
@media only screen and (max-width: 991px) {
  footer nav .posicion-footer .footer-estilo .logo-footer {
    width: 50px;
  }
}
footer nav .posicion-footer .posicion-lista {
  display: flex;
}
footer nav .posicion-footer .posicion-lista .elementos-estilo {
  color: black;
  text-decoration: none;
}
footer nav .posicion-footer .posicion-lista .redes {
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  footer nav {
    height: 50px;
  }
}
footer nav footer section ul {
  display: flex;
  justify-content: space-evenly;
}

section {
  margin-bottom: 30px;
}

/*seccion uno de la pagina principal*/
.section-one {
  margin-top: 56px;
  background-image: url(../imagen/fondo-teuki.svg);
  background-size: cover;
  height: 700px;
}
.section-one div {
  margin-top: 64px;
  padding-top: 50px;
}
.section-one div .arriba-imagen {
  margin: 0px 800px 0px 50px;
  padding: 20px;
  color: aliceblue;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-one div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-one div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-one div .arriba-imagen {
    margin: 0px 20px;
  }
}
.section-one div .boton {
  width: 200px;
}
.section-one div .boton a {
  color: white;
}
.section-one div .cambiar-posicion {
  position: relative;
  top: 100px;
  left: 30%;
}
@media only screen and (max-width: 480px) {
  .section-one {
    background-position-x: 480px;
    background-attachment: fixed;
  }
}

/*seccion dos de la pagina principal*/
.section-two div {
  margin: 50px 0px;
}
.section-two div .orden-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-two div .orden-productos .productos-tamaño {
  width: 180px;
  height: 200px;
  background-color: whitesmoke;
  transition: all 2s;
}
.section-two div .orden-productos .productos-tamaño:hover {
  transform: scale(1.08);
  transition: all 2s;
  box-shadow: 1px 1px 5px gray;
}
@media only screen and (max-width: 767px) {
  .section-two div .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 900px) {
  .section-two div .orden-productos {
    flex-wrap: wrap;
  }
}
.section-two div .boton a {
  color: white;
}
.section-two div .cambiar-posicion {
  position: relative;
  left: 46%;
}
@media only screen and (min-width: 426px) and (max-width: 899px) {
  .section-two div .cambiar-posicion {
    left: 41%;
  }
}
@media only screen and (max-width: 425px) {
  .section-two div .cambiar-posicion {
    left: 30%;
  }
}

/*seccion 3 de la pagina principal */
.section-three {
  background-image: url(../imagen/fondo-combo.svg);
  background-size: cover;
  background-position: center center;
  height: 700px;
  margin-bottom: 0px;
}
.section-three div .arriba-imagen {
  margin: 30px 800px 0px 50px;
  padding: 20px;
  color: aliceblue;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-three div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-three div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-three div .arriba-imagen {
    margin: 0px 20px;
  }
}
.section-three div .boton {
  width: 200px;
}
.section-three div .boton a {
  color: white;
}
.section-three div .cambiar-posicion {
  position: relative;
  top: 100px;
  left: 30%;
}
@media only screen and (max-width: 480px) {
  .section-three {
    background-attachment: fixed;
  }
}

/*seccion uno de pagina de productos*/
.section-productos {
  margin: 80px;
}
@media only screen and (max-width: 480px) {
  .section-productos h1 {
    text-align: center;
    padding: 20px 0px;
  }
}

/* grid en pagina de productos */
.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: 180px 30px;
  grid-gap: 10px 30px;
  align-items: stretch;
  justify-content: space-evenly;
}
.grid-container .grid-item-img {
  border: 1px solid #bfaf90;
  background-color: white;
  display: flex;
  align-items: center;
}
.grid-container .grid-item-img .tamaño-img {
  width: 180px;
}
.grid-container .grid-item-img .tamaño-img:hover {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.grid-container .grid-item-texto {
  border: 1px solid #bfaf90;
  background-color: transparent;
  color: #383838;
  font-family: cursive;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
}
.grid-container .grid-item-texto:hover {
  background-color: white;
  color: black;
}
@media only screen and (max-width: 991px) {
  .grid-container {
    grid-template-columns: none;
    grid-template-rows: 180px;
  }
  .grid-container .grid-item-texto {
    visibility: hidden;
  }
}

/* titulos */
.titulo {
  font-family: "Montserrat", sans-serif;
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 30px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
  text-shadow: 3px 3px #319B80, 5px 5px darkslategrey;
}

section h2, section h1 {
  font-size: 35px;
}

.prod-indv .grid-productos .boton-comprar, .section-mes .descripciones .boton-compra, .section-one div .boton, .section-two div .boton, .section-three div .boton {
  background-color: #549C74;
  color: white;
  border: white 1px outset;
  border-radius: 20px;
  padding: 5px 20px;
}
.prod-indv .grid-productos .boton-comprar:hover, .section-mes .descripciones .boton-compra:hover, .section-one div .boton:hover, .section-two div .boton:hover, .section-three div .boton:hover {
  background-color: #549C74;
  border: white 1px inset;
  box-shadow: 2px 2px 10px #549C74;
}

.section-quienes .descripciones, .section-mes .descripciones {
  color: #3b413e;
  text-align: left;
}

.prod-indv h1, .preguntas h1, .section-productos h1, .contacto h1, .section-quienes .descripciones h1, .section-two div h2 {
  font-family: "Montserrat", sans-serif;
  color: #478668;
  letter-spacing: 2px;
  padding: 20px 0px 20px 50px;
  margin-left: 10px;
  font-size: 35px;
}

/* titulo con*/
.section-titulo-combo div h1, .section-titulo div h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
  text-shadow: 3px 3px #319B80, 5px 5px darkslategrey;
}

/*subtitulos*/
.preguntas .contactos h2, .section-combo .grid-container-combo .como-combo h2, .section-mes .descripciones h2, .descripcion-teuki div h2 {
  font-family: "Montserrat", sans-serif;
  color: #478668;
  letter-spacing: 2px;
  font-size: 20px;
}

.section-mes .descripciones .viñetas {
  list-style: square inside url(/imagen/caramelito.png);
  display: flex;
  flex-direction: column;
}

.carrito {
  position: fixed;
  bottom: 50px;
  right: 30px;
}

/* seccion de que es teuki */
.section-titulo {
  margin: 65px 0px 30px 0px;
}
.section-titulo div {
  display: flex;
  background-image: url(../imagen/fondo-titulo.svg);
  background-position-y: 410%;
  flex-direction: column;
  align-items: center;
}
.section-titulo div h1 {
  text-align: center;
  font-size: 50px;
  width: 200px;
  background: white;
}
.section-titulo div .texto-chico {
  text-align: center;
  font-size: 14px;
  font-family: "Gruppo";
  width: 200px;
  background: white;
}

.descripcion-teuki {
  margin: 0px 210px;
}
.descripcion-teuki div {
  margin: 30px 0px;
}
@media only screen and (max-width: 767px) {
  .descripcion-teuki {
    margin: 0px 10%;
  }
}

/* seccion de que tiene la teuki */
.section-mes {
  margin: 0px 210px;
}
.section-mes .descripciones {
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .section-mes .descripciones h2 {
    padding: 5px;
  }
}
.section-mes .descripciones .boton-compra {
  position: relative;
  top: 20px;
  left: 50px;
}
.section-mes .descripciones .imagen-costado {
  width: 40%;
  position: relative;
  bottom: 150px;
  left: 40%;
}
@media only screen and (max-width: 991px) {
  .section-mes .descripciones .imagen-costado {
    margin: 30px;
    bottom: 0px;
  }
}
@media only screen and (min-width: 1445px) {
  .section-mes .descripciones .imagen-costado {
    width: 500px;
  }
}
@media only screen and (max-width: 768px) {
  .section-mes .descripciones .imagen-costado {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .section-mes {
    margin: 0px 10% 50px 10%;
  }
}

.titulo-carro {
  padding-left: 80px;
}

.cuadro {
  margin: 0px 100px;
  height: 100px;
}
.cuadro .tabla {
  display: flex;
  justify-content: space-between;
}
.cuadro .tabla .img-carro {
  width: 50px;
  height: 50px;
}
.cuadro .precio {
  text-align: end;
}
.cuadro .total {
  font-size: 18px;
  font-style: italic;
  text-align: end;
  border-top: dotted;
}

.section-quienes {
  padding: 0px 100px 0px 100px;
  margin: 60px 22px 0px 0px;
}
.section-quienes .descripciones {
  padding: 40px 0px 0px 80px;
  height: 400px;
}
.section-quienes .descripciones h1 {
  margin-left: 0px;
  padding: 0px 0px 20px 30px;
}
@media only screen and (max-width: 768px) {
  .section-quienes .descripciones h1 {
    padding: 0px;
    text-align: center;
  }
}
.section-quienes .descripciones p {
  padding: 0px 50% 0px 0px;
}
@media only screen and (max-width: 768px) {
  .section-quienes .descripciones p {
    margin: 10px 5px 0px;
    padding: 0px;
  }
}
.section-quienes .descripciones .imagen-costado {
  margin: 60px 0px 0px 60%;
  width: 40%;
  position: relative;
  bottom: 190px;
}
@media only screen and (max-width: 768px) {
  .section-quienes .descripciones .imagen-costado {
    display: none;
  }
}
@media only screen and (min-width: 1550px) {
  .section-quienes .descripciones .imagen-costado {
    margin: 0px;
    width: 400px;
    position: relative;
    bottom: 20%;
    left: 55%;
  }
}
@media only screen and (max-width: 768px) {
  .section-quienes .descripciones {
    height: auto;
    padding: 40px 0px 0px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .section-quienes {
    margin: 60px 10px 0px;
    padding: 0px;
  }
}

.contacto {
  margin: 0px 80px;
}
.contacto h1 {
  text-align: center;
  margin: 0px;
}
.contacto .lista-estilo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.contacto .lista-estilo .tarjetas {
  background: whitesmoke;
  box-shadow: 0px 2px 5px 0px darkgrey;
  width: 30%;
}
.contacto .lista-estilo .tarjetas:hover {
  transform: translateY(10px);
}
.contacto .lista-estilo .redes {
  margin: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 30px;
}
.contacto .lista-estilo .redes .tam-img {
  width: 50px;
}
@media only screen and (max-width: 1268px) {
  .contacto .lista-estilo .redes {
    margin: 15%;
    padding: 0px;
  }
}
.contacto p {
  text-align: center;
  margin-top: 30px;
}
.contacto .formulario {
  margin: 10px;
  height: 400px;
  width: 100%;
}
.contacto .formulario .posicion-boton {
  position: absolute;
  left: 45%;
}
@media only screen and (max-width: 768px) {
  .contacto {
    margin: 60px 10px 0px;
  }
}

.section-titulo-combo {
  margin: 65px 0px 0px 0px;
}
.section-titulo-combo div {
  display: flex;
  background-image: url(../imagen/fondo-titulo.svg);
  background-position-y: 500%;
  flex-direction: column;
  align-items: center;
}
.section-titulo-combo div h1 {
  text-align: center;
  font-size: 45px;
  width: 300px;
  background: white;
}
.section-titulo-combo div .texto-chico-combo {
  text-align: center;
  font-size: 14px;
  font-family: "Gruppo";
  width: 300px;
  background: white;
}

.section-combo {
  margin: 0px 80px 100px 80px;
}
.section-combo h1 {
  text-align: center;
}
.section-combo .grid-container-combo {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80%);
  grid-template-rows: 100px 200px 250px;
  justify-content: center;
  padding: 50px;
}
.section-combo .grid-container-combo .como-combo {
  margin: 30px 0px;
}
.section-combo .grid-container-combo .img-carru {
  width: 400px;
}
@media only screen and (max-width: 767px) {
  .section-combo .grid-container-combo {
    padding: 10px 0px 0px 0px;
    grid-template-rows: none;
  }
}
.section-combo .orden-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-combo .orden-productos .productos-tamaño {
  width: 180px;
  height: 200px;
  background-color: whitesmoke;
  transition: all 2s;
}
.section-combo .orden-productos .productos-tamaño:hover {
  transform: scale(1.08);
  transition: all 2s;
  box-shadow: 1px 1px 5px gray;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-combo .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 480px) {
  .section-combo .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-combo .orden-productos {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .section-combo .orden-productos {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .section-combo {
    margin: 0px 10px 100px 10px;
  }
}

.section-productos h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.section-productos .columnas-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section-productos .columnas-productos .tarjeta {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  transition: all 2s;
  margin: 20px;
}
.section-productos .columnas-productos .tarjeta .imagen {
  width: 150px;
  height: 170px;
  border-bottom-color: #0080801f;
  border-bottom-style: ridge;
  display: flex;
  align-items: stretch;
}
.section-productos .columnas-productos .tarjeta .img-tarjeta {
  width: 100%;
}
.section-productos .columnas-productos .tarjeta .texto-tarjeta {
  text-align: right;
  font-style: italic;
  width: 140px;
  height: 45px;
}
.section-productos .columnas-productos .tarjeta .texto-tarjeta .estilo-texto {
  color: gray;
  font-size: 12px;
}
.section-productos .columnas-productos .tarjeta .texto-tarjeta .estilo-precio {
  color: cadetblue;
}
.section-productos .columnas-productos .tarjeta:hover {
  transform: scale(1.05);
  transition: all 2s;
  box-shadow: 1px 1px 5px gray;
}

/* estilo boton de volver arriba */
.volver-arriba {
  border-radius: 50%;
  background-color: rgba(95, 158, 160, 0.66);
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 1px white;
}

.grid-container-combo {
  grid-template-columns: 150px 100px;
}

.preguntas {
  margin: 60px 210px 0px 210px;
}
.preguntas h1 {
  text-align: center;
}
.preguntas .contactos {
  margin-top: 20px;
}
.preguntas .contactos h2 {
  text-align: center;
}
.preguntas .contactos p {
  text-align: center;
  padding: 20px 0px;
}
.preguntas .contactos .lista-estilo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.preguntas .contactos .lista-estilo .tarjetas {
  background: whitesmoke;
  box-shadow: 0px 2px 5px 0px darkgrey;
  width: 30%;
}
.preguntas .contactos .lista-estilo .tarjetas:hover {
  transform: translateY(10px);
}
@media only screen and (max-width: 1268px) {
  .preguntas .contactos .lista-estilo .tarjetas {
    width: 30%;
  }
}
.preguntas .contactos .lista-estilo .redes {
  margin: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 30px;
}
.preguntas .contactos .lista-estilo .redes .tam-img {
  width: 50px;
}
@media only screen and (max-width: 1268px) {
  .preguntas .contactos .lista-estilo .redes {
    margin: 15%;
    padding: 0px;
  }
}
.preguntas .contactos .formulario {
  height: 400px;
  width: 90%;
  margin: 0px 20px 0px 20px;
}
.preguntas .contactos .formulario .posicion-boton {
  position: absolute;
  left: 45%;
}
@media only screen and (max-width: 768px) {
  .preguntas {
    margin: 60px 10px 0px 10px;
  }
}

.accordion-button:not(.collapsed) {
  color: #478668;
  background-color: #0080801f;
  box-shadow: inset 0 -1px 0 #0080801f;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #478668;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #47866792;
}

.prod-indv {
  margin: 70px 210px 20px 210px;
}
.prod-indv h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.prod-indv .grid-productos {
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
.prod-indv .grid-productos .tarjetas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: whitesmoke;
  margin: 20px;
  align-items: center;
  border: gray 1px solid;
}
.prod-indv .grid-productos .tarjetas .imagen-ad {
  width: 200px;
  height: 200px;
}
.prod-indv .grid-productos .tarjetas .img-adentro {
  width: 200px;
  height: 200px;
}
.prod-indv .grid-productos .tarjetas .texto-tarjeta {
  text-align: right;
  padding: 2px 30px 0px 0px;
  color: cadetblue;
  font-style: s;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-variant-caps: all-small-caps;
  border-top: gray 1px solid;
}
@media only screen and (max-width: 768px) {
  .prod-indv .grid-productos .tarjetas .texto-tarjeta {
    padding: 0px 10px 0px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .prod-indv .grid-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.prod-indv .grid-productos .texto-tarjeta {
  color: cadetblue;
}
.prod-indv .grid-productos .prod-descrp {
  display: flex;
  align-items: stretch;
  margin: 50px;
}
@media only screen and (max-width: 768px) {
  .prod-indv .grid-productos .prod-descrp {
    margin: 10px 5px 20px 5px;
  }
}
.prod-indv .grid-productos .boton-comprar {
  margin: 0px 0px 0px 20px;
}
.prod-indv .grid-productos .boton-comprar a {
  color: white;
}
.prod-indv .grid-productos .boton-a-combo {
  background-color: transparent;
  color: #549C74;
  border: gray 1px outset;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px 0px 0px 20px;
}
.prod-indv .grid-productos .boton-a-combo:hover {
  border: white 1px inset;
  box-shadow: 2px 2px 10px #549C74;
}
@media only screen and (min-width: 400px) and (max-width: 648px) {
  .prod-indv {
    margin: 70px 80px 20px 80px;
  }
}
@media only screen and (max-width: 399px) {
  .prod-indv {
    margin: 70px 30px 20px 30px;
  }
}

/* seccion del carrusel */
.carrusel-section {
  margin: 50px;
}
.carrusel-section .orden-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.carrusel-section .orden-productos .productos-tamaño {
  width: 180px;
  height: 200px;
  background-color: whitesmoke;
  transition: all 2s;
}
.carrusel-section .orden-productos .productos-tamaño:hover {
  transform: scale(1.08);
  transition: all 2s;
  box-shadow: 1px 1px 5px gray;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .carrusel-section .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 480px) {
  .carrusel-section .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .carrusel-section .orden-productos {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .carrusel-section .orden-productos {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
