@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");
body {
  background-color: white;
}
body * {
  margin: 0;
}
body a {
  color: black;
  text-decoration: none;
}
body a:hover {
  color: darkslategrey;
}
body .div-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@font-face {
  font-family: "fuente";
  src: url("fuentes/Sorreda.ttf") format("truetype");
}
header .tamaño-logo {
  width: 20%;
}
header .tamaño-icono-menu {
  width: 20px;
}
header .menu-desplegable {
  background-color: whitesmoke;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 48px;
  right: 0px;
  width: 50%;
}
header .menu-desplegable .menu-estilo, header .menu-desplegable .sub-menu {
  color: #3DC4A3;
  list-style: none;
}
header .menu-desplegable .menu-estilo .sin-text-deco, header .menu-desplegable .sub-menu .sin-text-deco {
  text-decoration: none;
  color: #3DC4A3;
}
header .menu-desplegable .menu-estilo .sin-text-deco:hover, header .menu-desplegable .sub-menu .sin-text-deco:hover {
  color: black;
}
@media only screen and (max-width: 514px) {
  header .menu-desplegable {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  header .menu-cel {
    flex-wrap: inherit;
  }
  header .menu-cel .tamaño-logo {
    width: 100px;
  }
}

/* cosas del footer */
footer nav {
  height: 40px;
}
footer nav .posicion-footer {
  display: flex;
}
footer nav .posicion-footer .footer-estilo {
  text-decoration: none;
  list-style: none;
  color: black;
}
footer nav .posicion-footer .footer-estilo .logo-footer {
  width: 5%;
}
@media only screen and (max-width: 991px) {
  footer nav .posicion-footer .footer-estilo .logo-footer {
    width: 50px;
  }
}
footer nav .posicion-footer .posicion-lista {
  display: flex;
}
footer nav .posicion-footer .posicion-lista .elementos-estilo {
  color: black;
  text-decoration: none;
}
footer nav .posicion-footer .posicion-lista .redes {
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  footer nav {
    height: 50px;
  }
}
footer nav footer section ul {
  display: flex;
  justify-content: space-evenly;
}

section {
  margin-bottom: 30px;
}

/*seccion uno de la pagina principal*/
.section-one {
  margin-top: 56px;
  background-image: url(../imagen/caja-especial.svg);
  background-size: cover;
  height: 700px;
}
.section-one div {
  margin-top: 64px;
  padding-top: 50px;
}
.section-one div .arriba-imagen {
  background-color: #2f4f4f76;
  margin: 30px 800px 0px 50px;
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-one div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-one div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-one div .arriba-imagen {
    margin: 0px 20px;
  }
}
.section-one div .boton {
  margin: 20px 580px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-one div .boton {
    margin: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-one div .boton {
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-one div .boton {
    margin: 10px;
  }
}
.section-one div .cambiar-posicion {
  position: relative;
  top: 300px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-one div .cambiar-posicion {
    margin: 10px 300px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-one div .cambiar-posicion {
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-one div .cambiar-posicion {
    margin: 10px;
    top: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .section-one {
    background-position-x: 480px;
    background-attachment: fixed;
  }
}

/*seccion dos de la pagina principal*/
.section-two div {
  margin: 50px 0px;
}
.section-two div .orden-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.section-two div .orden-productos .productos-tamaño {
  width: 200px;
  border: 1px solid gray;
  background-color: white;
  transition: all 2s;
  border-radius: 10px;
}
.section-two div .orden-productos .productos-tamaño:hover {
  transform: scale(1.2);
  transition: all 2s;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-two div .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 480px) {
  .section-two div .orden-productos .productos-tamaño {
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-two div .orden-productos {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .section-two div .orden-productos {
    flex-wrap: wrap;
  }
}
.section-two div .boton {
  margin: 20px 580px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-two div .boton {
    margin: 20px 300px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-two div .boton {
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-two div .boton {
    margin: 10px;
  }
}
.section-two div .cambiar-posicion {
  position: relative;
  top: 300px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-two div .cambiar-posicion {
    margin: 150px 300px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-two div .cambiar-posicion {
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-two div .cambiar-posicion {
    margin: 10px;
    top: 250px;
  }
}

/*seccion 3 de la pagina principal */
.section-three {
  background-image: url(../imagen/img-combo-fondo.svg);
  background-size: cover;
  background-position: center center;
  height: 700px;
  margin-bottom: 0px;
}
.section-three div h2 {
  padding-top: 30px;
}
.section-three div .arriba-imagen {
  background-color: #2f4f4f76;
  margin: 30px 800px 0px 50px;
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-three div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-three div .arriba-imagen {
    margin: 0px 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-three div .arriba-imagen {
    margin: 0px 20px;
  }
}
.section-three div .boton {
  margin: 20px 580px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-three div .boton {
    margin: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-three div .boton {
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-three div .boton {
    margin: 10px;
  }
}
.section-three div .cambiar-posicion {
  position: relative;
  top: 300px;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-three div .cambiar-posicion {
    margin: 150px 300px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-three div .cambiar-posicion {
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .section-three div .cambiar-posicion {
    margin: 10px;
    top: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .section-three {
    background-attachment: fixed;
  }
}

/*seccion uno de pagina de productos*/
.section-productos {
  margin: 80px;
}
@media only screen and (max-width: 480px) {
  .section-productos h1 {
    text-align: center;
    padding: 20px 0px;
  }
}

/* grid en pagina de productos */
.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: 180px 30px;
  grid-gap: 10px 30px;
  align-items: stretch;
  justify-content: space-evenly;
}
.grid-container .grid-item-img {
  border: 1px solid #bfaf90;
  background-color: white;
  display: flex;
  align-items: center;
}
.grid-container .grid-item-img .tamaño-img {
  width: 180px;
}
.grid-container .grid-item-img .tamaño-img:hover {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.grid-container .grid-item-texto {
  border: 1px solid #bfaf90;
  background-color: transparent;
  color: #383838;
  font-family: cursive;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
}
.grid-container .grid-item-texto:hover {
  background-color: white;
  color: black;
}
@media only screen and (max-width: 991px) {
  .grid-container {
    grid-template-columns: none;
    grid-template-rows: 180px;
  }
  .grid-container .grid-item-texto {
    visibility: hidden;
  }
}

/* titulos */
.titulo {
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  padding-bottom: 30px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
  text-shadow: 3px 3px #319B80, 5px 5px darkslategrey;
}

section h2, section h1 {
  font-size: 35px;
}

.section-productos .volver, .section-one div .boton, .section-two div .boton, .section-three div .boton {
  background-color: #319B80;
  color: white;
  font-size: medium;
  text-decoration: none;
  border-style: outset;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.section-productos .volver:hover, .section-one div .boton:hover, .section-two div .boton:hover, .section-three div .boton:hover {
  background-color: #549C74;
  color: black;
  border: white 3px inset;
}

.section-quienes .descripciones, .section-mes .descripciones {
  color: #3b413e;
  text-align: left;
}

.section-productos .grid-productos .productos-descripcion {
  color: #0D0F0E;
}

.contacto h1, .section-productos h1, .section-quienes .descripciones h1, .section-mes .descripciones h1, .section-two div h2 {
  font-family: "Montserrat", sans-serif;
  color: #478668;
  letter-spacing: 2px;
  padding: 20px 0px 20px 50px;
  margin-left: 10px;
  font-size: 35px;
}

.section-mes .descripciones .viñetas {
  list-style: square inside url(/imagen/caramelito.png);
  display: flex;
  flex-direction: column;
}

.section-mes {
  margin: 0px 130px;
}
.section-mes .descripciones {
  text-align: left;
  padding: 80px 0px 0px 80px;
}
.section-mes .descripciones h1 {
  margin-left: 0px;
  padding: 0px 0px 20px 30px;
}
@media only screen and (max-width: 991px) {
  .section-mes .descripciones h1 {
    padding: 5px;
  }
}
.section-mes .descripciones p {
  padding: 0px 30px;
}
@media only screen and (max-width: 991px) {
  .section-mes .descripciones p {
    padding: 5px;
  }
}
.section-mes .descripciones .imagen-costado {
  margin: 80px 20px 0px 500px;
  width: 40%;
  position: relative;
  bottom: 150px;
}
@media only screen and (max-width: 991px) {
  .section-mes .descripciones .imagen-costado {
    margin: 30px;
    bottom: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-mes {
    margin: 65px 0px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-mes {
    margin: 65px 0px;
  }
}
@media only screen and (max-width: 480px) {
  .section-mes {
    margin: 65px 0px;
  }
}

.section-quienes {
  padding: 108px;
  margin: 0px 22px;
}
.section-quienes .descripciones {
  padding: 40px 0px 0px 80px;
}
.section-quienes .descripciones h1 {
  margin-left: 0px;
  padding: 0px 0px 20px 30px;
}
@media only screen and (max-width: 991px) {
  .section-quienes .descripciones h1 {
    padding: 5px;
  }
}
.section-quienes .descripciones p {
  padding: 0px 600px 0px 0px;
}
@media only screen and (max-width: 991px) {
  .section-quienes .descripciones p {
    padding: 5px;
  }
}
.section-quienes .descripciones .imagen-costado {
  margin: 80px 0px 0px 600px;
  width: 40%;
  position: relative;
  bottom: 150px;
}
@media only screen and (max-width: 991px) {
  .section-quienes .descripciones .imagen-costado {
    margin: 30px;
    bottom: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .section-quienes .descripciones {
    padding: 10px 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .section-quienes {
    padding: 65x 0px;
    margin: 0px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .section-quienes {
    padding: 65px 0px;
    margin: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .section-quienes {
    padding: 65px 0px;
    margin: 0px;
  }
}

.section-combo {
  margin: 80px 80px 100px 80px;
}
.section-combo h1 {
  text-align: center;
}
.section-combo .grid-container-combo {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 200px;
  justify-content: center;
  padding: 50px;
}

.section-productos .grid-productos {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px;
  align-items: start;
  justify-content: center;
}
.section-productos .grid-productos .productos-tamaño-solo {
  width: 200px;
  border: 1px solid #bfaf90;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px auto;
}
.section-productos .grid-productos .productos-descripcion {
  margin: 10px;
}
.section-productos .volver {
  margin: 20px 500px;
}
@media only screen and (min-width: 992px) and (max-width: 1246) {
  .section-productos .volver {
    margin: 50px 100px;
  }
}
@media only screen and (max-width: 991px) {
  .section-productos .volver {
    margin: 10px;
  }
}

.grid-container-combo {
  grid-template-columns: 150px 100px;
}

.contacto {
  margin: 56px 80px;
  height: 500px;
}
.contacto h1 {
  text-align: center;
}
.contacto .redes {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacto .redes .tamaño-img {
  width: 100px;
}
.contacto .redes .texto {
  text-align: left;
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
