body {
    * {
        margin: 0;
    }
    
    background-color: white;

    a {
        color: gray;
        text-decoration: none;

        &:hover {
            color: darkslategrey;
        }
    }

    .div-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}