 // color fondo del header
.fondo {
    background-color: rgb(230, 247, 243);
  
    .tamaño-logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        .sin-mg {
            margin: 0px 0px 0px 5px;
        }

        .nombre-logo {
            font-family: 'Comfortaa', cursive;
            font-size: 12px;
            letter-spacing: 2px;
            }

            .img-logo {
                width: 40px;
            }
    }
    

    .tamaño-icono-menu {
        width: 20px;
    }

    .menu-desplegable {
        background-color: rgb(230, 247, 243);
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        top: 52px;
        right: 0px;
        width: 30%;

        .menu-estilo, .sub-menu {
            color: #3DC4A3;
            list-style: none;

            .sin-text-deco {
                text-decoration: none;
                color: #3DC4A3;

                &:hover {
                    color: black;
                }

            }
        }

        @media only screen and (max-width:514px) {
            width: 100%;
        }
    }

    // @media only screen and (max-width:991px) {
    //     .menu-cel {
    //         justify-content: right;

    //         .tamaño-logo {
    //             width: 100px;
    //         }
    //     }
    // }
}

// acomodar menu para celulares
    .navbar {
        @media only screen and (max-width:991px) {
           flex-wrap: nowrap;
          }
}