.section-productos {
    h1 {
        @extend %titulos;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .columnas-productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .tarjeta {
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: whitesmoke;
            transition: all 2s;
            margin: 20px;
    
            .imagen {
                width: 150px;
                height: 170px;
                border-bottom-color: #0080801f;
                border-bottom-style: ridge;
                display: flex;
                align-items: stretch;
            }
        
            .img-tarjeta {
                width: 100%;
            }
    
            .texto-tarjeta {
                text-align: right;
                font-style: italic;
                width: 140px;
                height: 45px;

                .estilo-texto {
                    color: gray;
                    font-size: 12px;
                }

                .estilo-precio {
                    color: cadetblue;
                }
            }
    
            &:hover {
                transform: scale(1.05);
                transition: all 2s;
                box-shadow: 1px 1px 5px gray;
            }
        }
    }

}

/* estilo boton de volver arriba */

.volver-arriba {
    border-radius: 50%;
    background-color: rgba(95, 158, 160, 0.66);
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border: 1px white;
}