/* seccion de que es teuki */

.section-titulo {
    margin: 65px 0px 30px 0px;
   
    div {
        display: flex;
        background-image: url(../imagen/fondo-titulo.svg);
        background-position-y: 410%;
        flex-direction: column;
        align-items: center;

        h1 {
            @extend %titulo;
            text-align: center;
            font-size: 50px;
            width: 200px;
            background: white;
        }

        .texto-chico {
        text-align: center;
        font-size: 14px;
        font-family: 'Gruppo';
        width: 200px;
        background: white;
        }

    }
     
   
}

.descripcion-teuki {
    margin: 0px 210px;

       div {
        margin: 30px 0px;
        
        h2 {
            @extend %subtitulo;
        }


        
    }

    @media only screen and (max-width:767px) {
                margin: 0px 10%;
            }
}

/* seccion de que tiene la teuki */
.section-mes {
    margin: 0px 210px;


    .descripciones {
        @extend %texto-descripciones;
        text-align: left;

        h2 {
            @extend %subtitulo;

            @media only screen and (max-width:991px) {
                padding: 5px;
            }
        }

        .viñetas {
            @extend %viñetas;
        }

        .boton-compra {
            @extend %botones;
            position: relative;
            top: 20px;
            left: 50px;
        }
    
        .imagen-costado {
            width: 40%;
            position: relative;
            bottom: 150px;
            left: 40%;

            @media only screen and (max-width:991px) {
                margin: 30px;
                bottom: 0px;
            }

            @media only screen and (min-width:1445px) {
                width: 500px;
            }

            @media only screen and (max-width:768px) {
                display: none;
            }
        }

    }

    @media only screen and (max-width:767px) {
        margin: 0px 10% 50px 10%;
    }
    
}


.carrito {
    @extend %carrito;
}

.titulo-carro {
    padding-left: 80px;
}

.cuadro {
    margin: 0px 100px;
    height: 100px;

    .tabla {
        display: flex;
        justify-content: space-between;
        
        .img-carro {
            width: 50px;
            height: 50px;
        }
    }

    .precio {
        text-align: end;
    }

    .total {
        font-size: 18px;
        font-style: italic;
        text-align: end;
        border-top: dotted;
    }
}
