/* seccion de que es teuki */
.descripcion-teuki {
    margin: 58px 210px 30px 210px;

    h1 {
        @extend %titulo;
        text-align: center;
        font-size: 50px;
    }

    .texto-chico {
        text-align: center;
        font-size: 14px;
        font-family: 'Gruppo';
    }
    

    div {
        margin: 30px 0px;
        
        h2 {
            @extend %subtitulo;
        }
    }

}

/* seccion de que tiene la teuki */
.section-mes {
    margin: 0px 210px;


    .descripciones {
        @extend %texto-descripciones;
        text-align: left;

        h2 {
            @extend %subtitulo;

            @media only screen and (max-width:991px) {
                padding: 5px;
            }
        }

        .viñetas {
            @extend %viñetas;
        }

        button {
            background-color: #549C74;
            color: rgb(255, 255, 255);
            border: white 1px outset;
            position: relative;
            top: 20px;
            left: 50px;

            &:hover {
                background-color: #549C74;
                border: white 1px inset;
                box-shadow:2px 2px 10px #549C74;
            }
           
                    
        }

        .imagen-costado {
            margin: 0px 20px 0px 500px;
            width: 40%;
            position: relative;
            bottom: 150px;

            @media only screen and (max-width:991px) {
                margin: 30px;
                bottom: 0px;
            }
        }

    }

    @media only screen and (min-width:768px) and (max-width:1290px) {
        margin:  65px 0px;
    }

    @media only screen and (min-width:481px) and (max-width:767px) {
        margin: 65px 0px;
    }
    
    @media only screen and (max-width:480px) {
        margin: 65px 0px;
    }
    
}


.carrito {
    @extend %carrito;
}

.titulo-carro {
    padding-left: 80px;
}

.cuadro {
    margin: 0px 100px;
    height: 100px;

    .tabla {
        display: flex;
        justify-content: space-between;
        
        .img-carro {
            width: 50px;
            height: 50px;
        }
    }

    .precio {
        text-align: end;
    }

    .total {
        font-size: 18px;
        font-style: italic;
        text-align: end;
        border-top: dotted;
    }
}
