section {
    margin-bottom: 30px;
}

/*seccion uno de la pagina principal*/
.section-one {
    margin-top: 56px;
    background-image: url(../imagen/fondo-teuki.svg);
    background-size: cover;
    height: 700px;

    div {
        margin-top: 64px;
        padding-top: 50px;

        .arriba-imagen {
            margin: 0px 800px 0px 50px;
            padding: 20px;
            color: aliceblue;
            z-index: 1;

            @media only screen and (min-width:768px) and (max-width:1290px) {
                margin:  0px 20px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin:  0px 20px;
            }
            
            @media only screen and (max-width:480px) {
                margin: 0px 20px;
            }

        }


        .boton {
            @extend %botones;
            margin: 20px 580px;

            @media only screen and (min-width:768px) and (max-width:1290px) {
                margin: 20px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin: 20px;
            }

            @media only screen and (max-width:480px) {
                margin: 10px;
            }

            a {
                color: white;
            }

        }

        .cambiar-posicion {
            position: relative;
            top: 250px;

            @media only screen and (min-width:768px) and (max-width:1290px) {
                margin: 10px 300px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin: 20px;
            }

            @media only screen and (max-width:480px) {
                margin: 10px;
                top: 200px;
                left: 120px;
            }
        }
    }

    @media only screen and (max-width:480px) {
        background-position-x: 480px;
        background-attachment: fixed;
    }
}

/*seccion dos de la pagina principal*/
.section-two {
    div {
        margin: 50px 0px;

    
        h2 {
            @extend %titulos;
        }

        .orden-productos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

                .productos-tamaño {
                    width:  180px;
                    height: 200px;
                    background-color: whitesmoke;
                    transition: all 2s;

                    &:hover {
                        transform: scale(1.08);
                        transition: all 2s;
                        box-shadow: 1px 1px 5px gray;
                    }

                    @media only screen and (min-width:481px) and (max-width:767px) {
                        display: flex;
                        align-items: center;
                        margin: 10px auto;
                    }

                    @media only screen and (max-width:480px) {
                        display: flex;
                        align-items: center;
                        margin: 10px auto;
                    }
                }

                @media only screen and (min-width:481px) and (max-width:767px) {
                    flex-wrap: wrap;
                }

                @media only screen and (max-width:480px) {
                    flex-wrap: wrap;
                } 
        }

        .boton {
            @extend %botones;
            margin: 20px 580px;

            @media only screen and (min-width:768px) and (max-width:1290px)  {
                margin: 20px 300px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin:  20px;
            }

            @media only screen and (max-width:480px) {
                margin: 10px;
            }

            a {
                color: white;
            }

        }

        .cambiar-posicion {
            @media only screen and (max-width:480px) {
                position: relative;
                margin: 10px;
                left: 120px;
            }
        }


    }
}

/*seccion 3 de la pagina principal */
.section-three {
    background-image: url(../imagen/fondo-combo.svg);
    background-size: cover;
    background-position: center center;
    height: 700px;
    margin-bottom: 0px;

    div {
        

        .arriba-imagen {
            margin: 30px 800px 0px 50px;
            padding: 20px;
            color: aliceblue;
            z-index: 1;

            @media only screen and (min-width:768px) and (max-width:1290px)  {
                margin: 0px 20px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin: 0px 20px;
            }
            
            @media only screen and (max-width:480px) {
                margin: 0px 20px;
            }
        }

        .boton {
            @extend %botones;
            margin: 20px 580px;

            @media only screen and (min-width:768px) and (max-width:1290px)  {
                margin: 20px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin:  20px;
            }

            @media only screen and (max-width:480px) {
                margin: 10px;
            }

            a {
                color: white;
            }

        }

        .cambiar-posicion {
            position: relative;
            top: 250px;

            @media only screen and (min-width:768px) and (max-width:1290px) {
                margin: 150px 300px;
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                margin:  20px;
            }

            @media only screen and (max-width:480px) {
                margin: 10px;
                top: 200px;
                left: 120px;
            }
        }
    }

    @media only screen and (max-width:480px) {
        background-attachment: fixed;
    }
    
}

/*seccion uno de pagina de productos*/


.section-productos {
    margin: 80px;

    h1 {
        @media only screen and (max-width:480px) {
            text-align: center;
            padding: 20px 0px;
        }
    }
}