.preguntas {
    margin: 58px 210px 0px 210px;

    h1 {
        @extend %titulos;
        text-align: center;
    }

    .contactos {
        margin-top: 20px;;

        h2 {
            @extend %subtitulo;
            text-align: center;
        }

        p {
            text-align: center;
            padding: 20px 0px;
        }

        .lista-estilo {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 20px;
    
            .tarjetas {
                background: whitesmoke;
                box-shadow: 0px 2px 5px 0px darkgrey;
                width: 250px;
    
                &:hover {
                    transform: translateY(10px);
                }
            }
    
            .redes {
            margin: 30px;
            height: 100px;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 30px;
    
                .tam-img {
                    width: 50px;
                }
            
            }
        }

        .formulario {
            margin: 0px 150px;
            height: 400px;
            width: 700px;

            .posicion-boton {
                position: absolute;
                left: 676px;
            }
            
    
            
        }
    }
}