.contacto {
    margin: 56px 80px;
    height: 500px;

    h1 {
        @extend %titulos;
        text-align: center;
    }

    .redes {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tam-img {
            width: 100px;
        }
        
        .texto {
        text-align: left;
        width: 200px;
        }
    }
}