.section-titulo-combo {
    margin: 65px 0px 0px 0px;
   
    div {
        display: flex;
        background-image: url(../imagen/fondo-titulo.svg);
        background-position-y: 500%;
        flex-direction: column;
        align-items: center;

        h1 {
            @extend %titulo;
            text-align: center;
            font-size: 45px;
            width: 300px;
            background: white;
        }

        .texto-chico-combo {
        text-align: center;
        font-size: 14px;
        font-family: 'Gruppo';
        width: 300px;
        background: white;
        }

    }
     
   
}



.section-combo {
    margin: 0px 80px 100px 80px;

    h1 {
        text-align: center;
    }

    .grid-container-combo {
        display: grid;
        grid-template-columns: repeat(auto-fit, 80%);
        grid-template-rows: 100px 200px 250px;
        justify-content: center;
        padding: 50px;

        .como-combo {
            margin: 30px 0px;
            
            h2 {
                @extend %subtitulo;
            }
        }

        .img-carru {
            width: 400px;
        }

        @media only screen and (max-width: 767px) {
            padding: 10px 0px 0px 0px;
            grid-template-rows: none;
        }

    }

   
    

    // carrusel
    .orden-productos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

            .productos-tamaño {
                width:  180px;
                height: 200px;
                background-color: whitesmoke;
                transition: all 2s;

                &:hover {
                    transform: scale(1.08);
                    transition: all 2s;
                    box-shadow: 1px 1px 5px gray;
                }

                @media only screen and (min-width:481px) and (max-width:767px) {
                    display: flex;
                    align-items: center;
                    margin: 10px auto;
                }

                @media only screen and (max-width:480px) {
                    display: flex;
                    align-items: center;
                    margin: 10px auto;
                }
            }

            @media only screen and (min-width:481px) and (max-width:767px) {
                flex-wrap: wrap;
            }

            @media only screen and (max-width:480px) {
                flex-wrap: wrap;
            } 
    }

    @media only screen and (max-width:480px) {
        margin: 0px 10px 100px 10px;
    }
}