.section-quienes {
    padding: 108px;
    margin: 0px 22px;

    .descripciones {
        @extend %texto-descripciones;
        padding: 40px 0px 0px 80px;

        h1 {
            @extend %titulos;
            margin-left: 0px;
            padding: 0px 0px 20px 30px;

            @media only screen and (max-width:991px) {
                padding: 5px;
            }
        }

        p {
            padding: 0px 600px 0px 0px;

            @media only screen and (max-width:991px) {
                padding:  5px;
            }
        }

        .imagen-costado {
            margin: 80px 0px 0px 600px;
            width: 40%;
            position: relative;
            bottom: 150px;

            @media only screen and (max-width:991px) {
                margin: 30px;
                bottom: 0px;
            }
        }

        @media only screen and (max-width:991px) {
            padding:  10px 5px;
        }
    }

    @media only screen and (min-width:768px) and (max-width:1290px) {
        padding:  65x 0px;
        margin: 0px;
    }

    @media only screen and (min-width:481px) and (max-width:767px) {
        padding: 65px 0px;
        margin: 0px;
    }
    
    @media only screen and (max-width:480px) {
        padding: 65px 0px;
        margin: 0px;
    }
}